/* style one 1 */
/* .style-1 .bal-left-menu-container {
    width: 100%;
}

.style-1 .bal-left-menu-container .bal-elements {
    float: initial;
    position: absolute;
    left: initial;
    right: 0;
}

.style-1 .bal-editor-container .bal-content {
    padding-left: 70px;
} */

/* style 2 */
/* .style-2 .bal-left-menu-container {
    width: 100%;
}

.style-2 .bal-left-menu-container .bal-elements {
    float: initial;
    position: absolute;
    left: initial;
    right: 0;
}

.style-2 .bal-editor-container .bal-content {
    padding-left: 70px;
}
.style-2 .bal-left-menu-container .bal-elements .bal-elements-container {
    margin-left: 17px;
    height: 94%;
    position: absolute;
    width: 89%;
    margin-right: 17px;
    top: 58%;
    transform: translateY(-50%);
} */
