.rem46 {
    right: 34rem !important;
}

.rem50 {
    right: 30rem !important;
}

.rem54 {
    left: -25.5rem !important;
}

.rem68 {
    left: 68rem !important;
}

.rem70 {
    right: 10rem !important;
}

.rem76 {
    left: -4rem !important;
}

.side-menu__icon {
    margin-right: 20px !important;
}
